block footer
    footer.pro-footer.footer.dark.footer
        .container
            ul.pro-footer-nav
                li.pro-footer-nav-section
                    h4 Learn
                    nav
                        ul
                            li
                                a.pro-footer__link(href='/courses/python' title='Learn Python') Learn Python
                            li
                                a.pro-footer__link(href='/courses/c' title='Learn C Programming') Learn C Programming
                            li
                                a.pro-footer__link(href='/courses/cpp' title='Learn C++') Learn C++
                            li
                                a.pro-footer__link(href='/courses/java' title='Learn Java') Learn Java
                            li
                                a.pro-footer__link.highlight(href='/courses' title='') Course Catalog 
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='18' width='18' xmlns='http://www.w3.org/2000/svg')
                                        line(x1='5' y1='12' x2='19' y2='12')
                                        polyline(points='12 5 19 12 12 19')
                li.pro-footer-nav-section
                    h4 Courses
                    nav
                        ul
                            li
                                a.pro-footer__link(href='/learn/master-python' title='Master Python') Master Python
                            li
                                a.pro-footer__link(href='/learn/master-c-programming' title='Master C Programming') Master C Programming
                            li
                                a.pro-footer__link(href='/learn/master-cpp' title='Master C++') Master C++
                            li
                                a.pro-footer__link(href='/learn/master-java' title='Master Java') Master Java
                            li
                                a.pro-footer__link(href='/courses/dsa' title='DSA Courses') DSA Courses
                            li
                                a.pro-footer__link(href='/courses' title='Challenge Courses') Challenge Courses
                li.pro-footer-nav-section
                    h4 Resources
                    nav
                        ul
                            li
                                a.pro-footer__link(href='https://programiz.pro/resources' target='_blank' title='Blog') Blog
                            li
                                a.pro-footer__link(href='https://programiz.com' target='_blank' title='Free Tutorials') Free Tutorials
                            li
                                a.pro-footer__link(href='https://programiz.com/learn-python' target='_blank' title='Python App') Python App
                            li
                                a.pro-footer__link(href='https://programiz.com/learn-c' target='_blank' title='C Programming App') C Programming App
                            li
                                a.pro-footer__link(href='https://programiz.com/learn-cpp' target='_blank' title='C++ App') C++ App
                            li
                                a.pro-footer__link(href='https://programiz.com/learn-java' target='_blank' title='Java App') Java App
                            li
                                a.pro-footer__link(href='https://www.youtube.com/@programizstudios/featured' target='_blank' title='Videos') Videos
                li.pro-footer-nav-section
                    h4 Plans
                    nav
                        ul
                            li
                                a.pro-footer__link(href='/pricing' title='Pricing') Pricing
                            li
                                a.pro-footer__link(href='/business' title='Teams') Teams
                                span.pro-footer__new-link NEW
                            li
                                a.pro-footer__link(href='/pricing' title='Sales, Offers & Discounts') Sales, Offers &amp; Discounts
                li.pro-footer-nav-section
                    h4 Company
                    nav
                        ul
                            li
                                a.pro-footer__link(href='/about' title='About') About
                            li
                                a.pro-footer__link(href='/contact' title='Contact') Contact
                            li
                                a.pro-footer__link(href='/faq' title='FAQs') FAQs
                            li
                                a.pro-footer__link(href='https://programiz.atlassian.net/servicedesk/customer/portal/2' title='')
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M3 18v-6a9 9 0 0 1 18 0v6')
                                        path(d='M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z')
                                    | &nbsp;Help Center
            .pro-footer-bottom
                ul.bottom-left
                    li
                        a(href='https://programiz.pro' title='Home')
                            img.programiz-logo(src="data:image/svg+xml,%3csvg width='128' height='41' viewBox='0 0 128 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.05371 17.3491C9.05371 17.1397 9.1651 16.9462 9.34611 16.841L13.1876 14.609C13.3835 14.4952 13.629 14.6365 13.629 14.863V31.027C13.629 31.1393 13.538 31.2304 13.4257 31.2304H9.25706C9.14475 31.2304 9.05371 31.1393 9.05371 31.027V17.3491Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M9.05371 16.684C9.05371 16.6114 9.09243 16.5443 9.15529 16.508L13.3239 14.0983C13.4595 14.0199 13.629 14.1177 13.629 14.2743L13.629 22.588C13.629 22.7565 13.4925 22.893 13.324 22.893H9.35874C9.19028 22.893 9.05371 22.7565 9.05371 22.588V16.684Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M20.614 13.8518L9.46209 20.255C9.20948 20.4 9.05371 20.6691 9.05371 20.9604V25.7145L21.1211 18.7473C21.3728 18.602 21.5278 18.3335 21.5278 18.0429V14.3809C21.5278 13.9119 21.0207 13.6183 20.614 13.8518Z' fill='white' fill-opacity='0.87'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.54504 25.4319C9.25723 25.5869 9.06008 25.8885 9.05355 26.2368V25.1531L9.54504 25.4319Z' fill='white' fill-opacity='0.87'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0929 18.764C21.1335 18.6673 21.1559 18.561 21.1559 18.4496C21.1559 18.2766 21.1019 18.1161 21.0098 17.9843L21.5299 17.6899V18.0421C21.5299 18.3324 21.3751 18.6008 21.1237 18.7462L21.0929 18.764Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M21.0161 17.9982C20.8767 17.5695 13.7254 12.7655 8.80318 9.43762C8.63711 9.32533 8.71754 9.06662 8.918 9.06662L14.7804 9.06658C14.8216 9.06658 14.8619 9.07913 14.8958 9.10255L21.1781 13.4366C21.3981 13.5885 21.5296 13.8388 21.5296 14.1062L21.5296 17.6998L21.0161 17.9982Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M24.4604 22.4383C24.2897 22.3867 24.0336 22.3522 23.7775 22.3522C23.0946 22.3522 22.019 22.6276 21.5751 23.5912V22.4383H19.0654V30.9902H21.6605V27.2563C21.6605 25.5528 22.5995 24.9333 23.6409 24.9333C23.897 24.9333 24.1702 24.9505 24.4604 25.0194V22.4383Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M29.8271 28.8393C28.8539 28.8393 27.9149 28.1339 27.9149 26.7057C27.9149 25.2603 28.8539 24.5892 29.8271 24.5892C30.8173 24.5892 31.7392 25.2603 31.7392 26.7057C31.7392 28.1511 30.8173 28.8393 29.8271 28.8393ZM29.8271 22.1802C27.3003 22.1802 25.3199 24.0558 25.3199 26.7057C25.3199 29.3556 27.3003 31.2484 29.8271 31.2484C32.3709 31.2484 34.3343 29.3556 34.3343 26.7057C34.3343 24.0558 32.3709 22.1802 29.8271 22.1802Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M35.4072 31.472C35.6462 33.0035 37.1998 34.5177 39.6412 34.5177C42.8167 34.5177 44.1825 32.384 44.1825 29.9234V22.4383H41.707V23.3503C41.468 22.9029 40.7338 22.2834 39.351 22.2834C37.0291 22.2834 35.4072 24.2106 35.4072 26.4648C35.4072 28.8393 37.0974 30.6289 39.351 30.6289C40.5802 30.6289 41.3143 30.1299 41.6216 29.6653V30.0611C41.6216 31.6097 40.8192 32.2464 39.5217 32.2464C38.5485 32.2464 37.8656 31.6441 37.6949 30.8182L35.4072 31.472ZM39.829 28.3575C38.7876 28.3575 38.0022 27.6348 38.0022 26.4648C38.0022 25.2947 38.8558 24.572 39.829 24.572C40.8021 24.572 41.6387 25.2947 41.6387 26.4648C41.6387 27.6348 40.8875 28.3575 39.829 28.3575Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M51.77 22.4383C51.5993 22.3867 51.3432 22.3522 51.0871 22.3522C50.4042 22.3522 49.3286 22.6276 48.8847 23.5912V22.4383H46.375V30.9902H48.9701V27.2563C48.9701 25.5528 49.9091 24.9333 50.9505 24.9333C51.2066 24.9333 51.4797 24.9505 51.77 25.0194V22.4383Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M52.8986 28.6329C52.8986 29.9922 53.9742 31.2311 55.8351 31.2311C56.9619 31.2311 57.7814 30.7493 58.2253 30.0266C58.2253 30.6117 58.2936 30.9214 58.3107 30.9902H60.6496C60.6326 30.9042 60.5472 30.3364 60.5472 29.6653V25.484C60.5472 23.7288 59.5399 22.1802 56.7912 22.1802C54.2986 22.1802 53.1718 23.7977 53.0694 25.0194L55.323 25.484C55.3742 24.8473 55.8693 24.2278 56.7741 24.2278C57.5936 24.2278 58.0204 24.658 58.0204 25.157C58.0204 25.4495 57.8668 25.6732 57.4058 25.7421L55.4083 26.0518C54.0084 26.2583 52.8986 27.1186 52.8986 28.6329ZM56.4668 29.3384C55.7498 29.3384 55.4595 28.9082 55.4595 28.4608C55.4595 27.8585 55.8693 27.6004 56.4156 27.5144L58.0204 27.2563V27.6348C58.0204 28.9598 57.2351 29.3384 56.4668 29.3384Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M65.3258 30.9902V26.069C65.3258 25.2947 65.8209 24.5892 66.7258 24.5892C67.6648 24.5892 68.0916 25.2258 68.0916 26.0346V30.9902H70.6525V26.0518C70.6525 25.2947 71.1476 24.5892 72.0695 24.5892C72.9914 24.5892 73.4183 25.2258 73.4183 26.0346V30.9902H75.9279V25.4495C75.9279 23.1266 74.3914 22.1802 72.7866 22.1802C71.6427 22.1802 70.8232 22.5587 70.1574 23.5223C69.7306 22.6792 68.8598 22.1802 67.6477 22.1802C66.7258 22.1802 65.6331 22.662 65.2063 23.4191V22.4383H62.7308V30.9902H65.3258Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M91.2554 30.9902V28.7361H87.2775L91.1871 24.5892V22.4383H84.2386V24.6752H87.8751L84.1361 28.6845V30.9902H91.2554Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M81.2543 30.9724H78.2705L79.1483 25.3659H78.2705V22.2412H82.1268V25.3659L81.2543 30.9724Z' fill='white' fill-opacity='0.87'/%3e%3cpath d='M82.1268 16.5957H78.2705V20.2927H82.1268V16.5957Z' fill='white' fill-opacity='0.87'/%3e%3crect x='96.9414' y='16.8032' width='29.729' height='15.5108' rx='1.77728' stroke='white' stroke-opacity='0.87' stroke-width='1.77728'/%3e%3cpath d='M107.13 22.9346C107.13 21.4073 105.937 20.2256 104.343 20.2256H101.656V28.1406H103.429V25.6324H104.343C105.937 25.6324 107.13 24.4618 107.13 22.9346ZM105.413 22.9346C105.413 23.5143 104.956 23.9713 104.321 23.9713H103.429V21.8978H104.321C104.956 21.8978 105.413 22.3437 105.413 22.9346ZM108.265 28.1406H110.037V24.8743H110.327L112.958 28.1406H115.087L112.289 24.6513C113.292 24.2946 113.838 23.6369 113.838 22.6113C113.838 21.2958 112.88 20.2256 111.386 20.2256H108.265V28.1406ZM110.037 23.3693V21.8532H111.174C111.698 21.8532 112.077 22.1319 112.077 22.6113C112.077 23.0683 111.698 23.3693 111.174 23.3693H110.037ZM118.997 28.2744C121.249 28.2744 123.088 26.435 123.088 24.1831C123.088 21.9313 121.249 20.0919 118.997 20.0919C116.734 20.0919 114.906 21.9313 114.906 24.1831C114.906 26.435 116.734 28.2744 118.997 28.2744ZM118.997 26.5576C117.704 26.5576 116.689 25.4651 116.689 24.1831C116.689 22.9011 117.704 21.8086 118.997 21.8086C120.279 21.8086 121.294 22.9011 121.294 24.1831C121.294 25.4651 120.279 26.5576 118.997 26.5576Z' fill='white' fill-opacity='0.87'/%3e%3c/svg%3e" alt='Programiz PRO Logo' title='Programiz PRO Logo')
                    li
                        ul.privacy-container
                            li
                                a.pro-footer__link(href='/privacy-policy' title='Privacy Policy') Privacy Policy
                            li
                                a.pro-footer__link(href='/terms-of-service' title='Terms of Service') Terms of Service
                    li
                        ul.pro-footer-social
                            li
                                a.social-link(href='https://www.facebook.com/programiz' target='_blank' title='Facebook' rel='noreferrer')
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='18' width='18' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z')
                            li
                                a.social-link(href='https://www.instagram.com/_programiz/' target='_blank' title='Instagram' rel='noreferrer')
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='18' width='18' xmlns='http://www.w3.org/2000/svg')
                                        rect(x='2' y='2' width='20' height='20' rx='5' ry='5')
                                        path(d='M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z')
                                        line(x1='17.5' y1='6.5' x2='17.51' y2='6.5')
                            li
                                a.social-link(href='https://www.linkedin.com/company/programiz/' target='_blank' title='LinkedIn' rel='noreferrer')
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='18' width='18' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z')
                                        rect(x='2' y='9' width='4' height='12')
                                        circle(cx='4' cy='4' r='2')
                            li
                                a.social-link(href='https://twitter.com/programiz' target='_blank' title='Twitter' rel='noreferrer')
                                    svg(stroke='currentColor' fill='none' stroke-width='2' viewbox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='18' width='18' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z')
                small.bottom-right.copyright &copy; 2022 Parewa Labs Pvt. Ltd. All rights reserved.
