extends layout

block content
  section
    .container
      .editor-group 
        .input-editor-wrapper
          include inputHeader
          #input-editor 
        .output-editor-wrapper
          include outputHeader
          #output-editor