block menu
    .pro-popover-content.popover-bottomRight.has-arrow.pro-dropdown.ready.editor__menu-content(style='top: 86.6px; left: 426.788px;')
        .empty
        label.upload-file.editor--margin-top-zero(title='Upload a file')
            | Upload a file
            input.editor__menu-content-element(type='file')