div(id="new-editor")
script.
    if(typeof newEditor === "undefined"){
        const newEditorOptions = {
            value: !{JSON.stringify(outputString)},
            language: !{"outputLanguage"},
            readOnly: true,
            theme: "myTheme",
            fontSize: 14,
            lineHeight: 20,
            fontFamily: "monospace",
            wordWrap: "bounded",
            wordWrapColumn: 67,
            minimap: { enabled: false }
        }
        require.config({ paths: { 'vs': '/path/to/monaco-editor/min/vs' } });
        require(['vs/editor/editor.main'], function() {
            let newEditor = monaco.editor.create(document.getElementById('new-editor'), newEditorOptions);
        });
    }