block outputHeader 
    .output-header
        .editor__header
            .editor__title
                h4 OUTPUT
            .editor__options
                button.copy.copy-enabled(title='Copy to clipboard')
                    i(data-feather="copy")
                button.pro-btn.download-btn.pro-btn--compact.pro-btn--secondary(type='button' title='Download')
                    i(data-feather="download")
                    | Download